<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-relax5core" >
	<tr>
		<td>
			<f:translate key="tx_relax5core_domain_model_appointment.date" />
		</td>
		<td>
          {appointment.subject}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_relax5core_domain_model_appointment.subject" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_relax5core_domain_model_appointment.duration" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_relax5core_domain_model_appointment.details" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_relax5core_domain_model_appointment.type" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_relax5core_domain_model_appointment.status" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_relax5core_domain_model_appointment.priority" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_relax5core_domain_model_appointment.msolid" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_relax5core_domain_model_appointment.permissions" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_relax5core_domain_model_appointment.name" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_relax5core_domain_model_appointment.address" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_relax5core_domain_model_appointment.contact" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_relax5core_domain_model_appointment.result" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_relax5core_domain_model_appointment.next_action" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_relax5core_domain_model_appointment.contact_state" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_relax5core_domain_model_appointment.task" />
		</td>
		<td>
		</td>
	</tr>
</table>
</html>