<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<!-- FORMERRORS relax5core -->

<f:form.validationResults for="{object}">
	<f:if condition="{validationResults.flattenedErrors}">
		<ul>
          <f:for each="{validationResults.flattenedErrors}" key="propertyPath" as="errors">
            <f:for each="{errors}" as="error">
              <span class="data-errorproperty" data-errorproperty="{propertyPath}"></span>
              <f:comment>{propertyPath} {error.code} {error}<br /></f:comment>
              <f:if condition="{error}!='' && {error.code}<1">
                <li class="rlx5-propertyerror">{error.code} {error}</li>
              </f:if>
            </f:for>
          </f:for>
        </ul>
    </f:if>
</f:form.validationResults>
</html>