{namespace r5f=CGB\Relax5validator\ViewHelpers}

<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<div class="rlx5-modalform-stretcher" style="height: 0; min-width: 500px;"></div>  
  
<f:render partial="General/ShowInfo" arguments="{item:address, itemtype:'person'}" />

<f:comment>
<div class="rlx5-collapser" style="position: absolute;">
  &nbsp;<span class="texticon-inner-icon ion ion-chevron-down"></span>&nbsp;
</div>
<div class="rlx5-info rlx5-clearfix rlx5-collapsible rlx5-collapsed">
  <span>Rights:</span>
  <span><f:form.select property="owner" options="{ownerSelect}" optionLabelField="username" optionValueField="uid" size="1" /></span>
  <span><f:form.select property="owner" options="{usergroupSelect}" optionLabelField="title" optionValueField="uid" size="1" /></span>
  <span>rwx------</span>
</div>
</f:comment>

<!-- 1: country | zip | city -->
<span class="rlx5-span-as-label">
  <label for="country" class="rlx5-min">
    <f:translate key="LLL:EXT:relax5core/Resources/Private/Language/locallang.xlf:tx_relax5core_domain_model_address.country" />
  </label> 
  | 
  <label for="zip" class="rlx5-min">
    <f:translate key="LLL:EXT:relax5core/Resources/Private/Language/locallang.xlf:tx_relax5core_domain_model_address.zip" />
  </label>
  |
  <label for="city" class="rlx5-min">
    <f:translate key="LLL:EXT:relax5core/Resources/Private/Language/locallang.xlf:tx_relax5core_domain_model_address.city" />
  </label>
</span>

<r5f:form.textfield 
  property="country" 
  id="country" 
  class="rlx5-inputmin rlx5-10 geocode-on-blur" 
  validatorContext="UpdateAddress" 
  placeholder="{f:translate(key:'tx_relax5core_domain_model_address.country')}"
  style="text-transform: uppercase"
  additionalAttributes="{
    data-autocomplete-id:'country'
  }"
/>

<r5f:form.textfield 
  property="zip" 
  id="zip" 
  class="rlx5-inputmin rlx5-20 geocode-on-blur" 
  validatorContext="UpdateAddress" 
  placeholder="{f:translate(key:'tx_relax5core_domain_model_address.zip')}"
  additionalAttributes="{
    data-autocomplete: 1, 
    data-autocomplete-id: 'zip',
    data-autocomplete-condition: 'countryCode equals country;zip like TERM',
    data-autocomplete-repository: 'CGB\Relax5core\Domain\Repository\ZipCatalogueRepository',
    data-autocomplete-findmethod: 'findByZip',
    data-autocomplete-select: '#city=city;#state=state',
    data-autocomplete-uri: '{h:uri.ajaxAction(extensionName: \\'Relax5core\\',controller: \\'Address\\',pluginName: \\'Core\\', action: \\'autocomplete\\')}'
  }"
/>

<r5f:form.textfield 
  property="city" 
  id="city" 
  class="rlx5-inputmin rlx5-30 geocode-on-blur" 
  validatorContext="UpdateAddress" 
  placeholder="{f:translate(key:'tx_relax5core_domain_model_address.city')}"
  additionalAttributes="{
    data-autocomplete: 1, 
    data-autocomplete-id: 'city',
    data-autocomplete-condition: 'countryCode equals country;city like TERM',
    data-autocomplete-repository: 'CGB\Relax5core\Domain\Repository\ZipCatalogueRepository',
    data-autocomplete-findmethod: 'findByCity',
    data-autocomplete-select: '#state=state;#zip=zip',
    data-autocomplete-uri: '{h:uri.ajaxAction(extensionName: \\'Relax5core\\',controller: \\'Address\\',pluginName: \\'Core\\', action: \\'autocomplete\\')}'
  }"
/>
<br />

<!-- 2: address | number | number_additions -->
<span class="rlx5-span-as-label">
  <label for="address" class="rlx5-min">
    <f:translate key="LLL:EXT:relax5core/Resources/Private/Language/locallang.xlf:tx_relax5core_domain_model_address.address" />
  </label>
  | 
  <label for="number" class="rlx5-min">
    <f:translate key="LLL:EXT:relax5core/Resources/Private/Language/locallang.xlf:tx_relax5core_domain_model_address.number" />
  </label>
  | 
  <label for="numberAdditions" class="rlx5-min">
    <f:translate key="LLL:EXT:relax5core/Resources/Private/Language/locallang.xlf:tx_relax5core_domain_model_address.number_additions" />
  </label>
</span>

<r5f:form.textfield 
  property="address" 
  id="address" 
  class="rlx5-inputmin rlx5-40 geocode-on-blur" 
  validatorContext="UpdateAddress" 
  placeholder="{f:translate(key:'tx_relax5core_domain_model_address.address')}"
  additionalAttributes="{
    data-autocomplete: 1, 
    data-autocomplete-id:'address'
    data-autocomplete-condition: 'countryCode equals country;zip equals zip;address like TERM',
    data-autocomplete-repository: 'CGB\Relax5core\Domain\Repository\AddressCatalogueRepository',
    data-autocomplete-findmethod: 'findByCountryAndZip',
    data-autocomplete-select: '#address=label',
    data-autocomplete-uri: '{h:uri.ajaxAction(extensionName: \\'Relax5core\\',controller: \\'Address\\',pluginName: \\'Core\\', action: \\'autocomplete\\')}'
  }"
/>

<r5f:form.textfield 
  property="number" 
  id="number" 
  class="rlx5-inputmin rlx5-10 geocode-on-blur" 
  validatorContext="UpdateAddress" 
  placeholder="{f:translate(key:'tx_relax5core_domain_model_address.number')}"
/>
<r5f:form.textfield 
  property="numberAdditions" 
  id="numberAdditions" 
  class="rlx5-inputmin rlx5-10" 
  validatorContext="UpdateAddress" 
  placeholder="{f:translate(key:'tx_relax5core_domain_model_address.number_additions')}"
/>
<br />

<!-- 3: state -->
<label for="state">
    <f:translate key="LLL:EXT:relax5core/Resources/Private/Language/locallang.xlf:tx_relax5core_domain_model_address.state" />
</label>
<r5f:form.textfield 
  property="state" 
  id="state" 
  validatorContext="UpdateAddress" 
  placeholder="{f:translate(key:'tx_relax5core_domain_model_address.state')}"
/><br />

<!-- 5: type -->
<label for="type" class="tx_crmrelax5_labelleft">
    <f:translate key="LLL:EXT:relax5core/Resources/Private/Language/locallang.xlf:tx_relax5core_domain_model_address.type" />
</label>
<r5f:form.select 
  property="type" 
  options="{typeSelect}" 
  optionLabelField="name" 
  optionValueField="uid" 
  size="1" 
  id="type" 
  class="" 
  validatorContext="UpdateAddress" 
/><br />


<!-- 6: allow_mail -->
<label for="allowMail">
  <f:translate key="LLL:EXT:relax5core/Resources/Private/Language/locallang.xlf:tx_relax5core_domain_model_address.allow_mail" />
</label>
<f:form.checkbox id="allowMail" property="allowMail" value="1" checked="{address.allowMail}" /><br />

<!-- 6a: geo_only -->
<label for="geoOnly">
  <f:translate key="LLL:EXT:relax5core/Resources/Private/Language/locallang.xlf:tx_relax5core_domain_model_address.geo_only" />
</label>
<f:form.checkbox id="geoOnly" property="geoOnly" value="1" checked="{address.geoOnly}" /><br />

<label for="lat">
	<f:translate key="LLL:EXT:relax5core/Resources/Private/Language/locallang.xlf:tx_relax5core_domain_model_address.lat" />
</label>
<r5f:form.textfield id="lat" property="lat" validatorContext="UpdateAddress" class="rlx5-inputmin rlx5-30" />
<f:form.textfield value="{address.lat}" class="rlx5-20" disabled="disabled" style="font-style: italic; font-size: 90%; border: none; background: transparent;" /><br />

<label for="lon">
	<f:translate key="LLL:EXT:relax5core/Resources/Private/Language/locallang.xlf:tx_relax5core_domain_model_address.lon" />
</label>
<r5f:form.textfield id="lon" property="lon" validatorContext="UpdateAddress"  class="rlx5-inputmin rlx5-30" />
<f:form.textfield value="{address.lon}" class="rlx5-20" disabled="disabled" style="font-style: italic; font-size: 90%; border: none; background: transparent;" /><br />

<f:form.hidden property="zoom" id="zoom" />
<f:form.hidden property="mapType" id="mapType" />

<!-- 9: map -->
<div id="map" class="googlemap" style="width: 100%; height: 300px; border: 1px solid #a9a9a9; padding: 2px; margin-bottom: .5em; "></div>


<label for="description">
	<f:translate key="LLL:EXT:relax5core/Resources/Private/Language/locallang.xlf:tx_relax5core_domain_model_address.description" />
</label>
<r5f:form.textfield property="description" id="description" validatorContext="UpdateAddress" /><br />

<div class="rlx5-divider"></div>

<f:render partial="AddInfo" arguments="{addInfo:addInfo}" optional="TRUE"/>

<script>
  $(document).ready(function() {
    activateJte('.rlx5-jte', '.rlx5-form');
    activateCollapser('.rlx5-collapser', '.rlx5-form', true);
    activateMap();
    showErrors();
    
    activateAutocomplete();
  });
</script>

</html>