<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="name">
	<f:translate key="tx_relax5core_domain_model_company.name" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="name" /><br />
<label for="shortName">
	<f:translate key="tx_relax5core_domain_model_company.short_name" />
</label><br />
	<f:form.textfield property="shortName" /><br />
<label for="legalForm">
	<f:translate key="tx_relax5core_domain_model_company.legal_form" />
</label><br />
	<f:form.textfield property="legalForm" /><br />
<label for="industry">
	<f:translate key="tx_relax5core_domain_model_company.industry" />
</label><br />
	<f:form.textfield property="industry" /><br />
<label for="employees">
	<f:translate key="tx_relax5core_domain_model_company.employees" />
</label><br />
	<f:form.textfield property="employees" /><br />
<label for="regId">
	<f:translate key="tx_relax5core_domain_model_company.reg_id" />
</label><br />
	<f:form.textfield property="regId" /><br />
<label for="regAuthority">
	<f:translate key="tx_relax5core_domain_model_company.reg_authority" />
</label><br />
	<f:form.textfield property="regAuthority" /><br />
<label for="vatId">
	<f:translate key="tx_relax5core_domain_model_company.vat_id" />
</label><br />
	<f:form.textfield property="vatId" /><br />
<label for="comments">
	<f:translate key="tx_relax5core_domain_model_company.comments" />
</label><br />
	<f:form.textarea property="comments" cols="40" rows="15" /><br />
<label for="allowMail">
	<f:translate key="tx_relax5core_domain_model_company.allow_mail" />
</label><br />
	<f:form.checkbox property="allowMail" value="1" /><br />
<label for="addressLabel">
	<f:translate key="tx_relax5core_domain_model_company.address_label" />
</label><br />
	<f:form.textarea property="addressLabel" cols="40" rows="15" /><br />
<label for="permissions">
	<f:translate key="tx_relax5core_domain_model_company.permissions" />
</label><br />
	<f:form.textfield property="permissions" /><br />
</html>