<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="division">
	<f:translate key="tx_relax5core_domain_model_link.division" />
</label><br />
	<f:form.textfield property="division" /><br />
<label for="role">
	<f:translate key="tx_relax5core_domain_model_link.role" />
</label><br />
	<f:form.textfield property="role" /><br />
<label for="roleTitle">
	<f:translate key="tx_relax5core_domain_model_link.role_title" />
</label><br />
	<f:form.textfield property="roleTitle" /><br />
<label for="salutation">
	<f:translate key="tx_relax5core_domain_model_link.salutation" />
</label><br />
	<f:form.textfield property="salutation" /><br />
<label for="allowMail">
	<f:translate key="tx_relax5core_domain_model_link.allow_mail" />
</label><br />
	<f:form.checkbox property="allowMail" value="1" /><br />
<label for="addressLabel">
	<f:translate key="tx_relax5core_domain_model_link.address_label" />
</label><br />
	<f:form.textarea property="addressLabel" cols="40" rows="15" /><br />
<label for="personSorting">
	<f:translate key="tx_relax5core_domain_model_link.person_sorting" />
</label><br />
	<f:form.textfield property="personSorting" /><br />
<label for="companySorting">
	<f:translate key="tx_relax5core_domain_model_link.company_sorting" />
</label><br />
	<f:form.textfield property="companySorting" /><br />
<label for="personPriority">
	<f:translate key="tx_relax5core_domain_model_link.person_priority" />
</label><br />
	<f:form.textfield property="personPriority" /><br />
<label for="companyPriority">
	<f:translate key="tx_relax5core_domain_model_link.company_priority" />
</label><br />
	<f:form.textfield property="companyPriority" /><br />
<label for="description">
	<f:translate key="tx_relax5core_domain_model_link.description" />
</label><br />
	<f:form.textfield property="description" /><br />
<label for="permissions">
	<f:translate key="tx_relax5core_domain_model_link.permissions" />
</label><br />
	<f:form.textfield property="permissions" /><br />
</html>